# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CUSTOM_22_LEFT
	def_bool $(shields_list_contains,custom_22_left)

config SHIELD_CUSTOM_22_RIGHT
	def_bool $(shields_list_contains,custom_22_right)

config SHIELD_CUSTOM_22_DONGLE
	def_bool $(shields_list_contains,custom_22_dongle)


